{% extends 'base.html' %}
{% load static %}

{% block title %}Contact Us | VS Fashions{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock %}

{% block content %}

<section class="contact-page">

    <div class="contact-hero">
        <span class="subtitle">CONTACT VS FASHIONS</span>

        <h1>Let's Create Something <span>Elegant</span></h1>

        <p>
            Reach out to us for support, inquiries, collaborations,
            or anything fashion related. We're always ready to help.
        </p>
    </div>

    <div class="contact-container">

        <div class="info-card">

            <div class="info-item">
                <h2>📍 Visit Us</h2>
                <p> Trichy Tamil Nadu, India</p>
            </div>

            <div class="info-item">
                <h2>📧 Email</h2>
                <p>
                    <a href="mailto:vsfashionin@gmail.com">
                        vsfashionin@gmail.com
                    </a>
                </p>
            </div>

            <div class="info-item">
                <h2>📞 Phone</h2>
                <p>+91 9994183239</p>
            </div>

        </div>

        <div class="form-card">

            <h2>Send Message</h2>

            <form>

                <input type="text" placeholder="Your Name" required>

                <input type="email" placeholder="Your Email" required>

                <textarea rows="6" placeholder="Your Message" required></textarea>

                <button type="submit">
                    Send Message →
                </button>

            </form>

        </div>

    </div>

</section>

<footer class="contact-footer">
    <p>© 2026 VS Fashions. Luxury Fashion Redefined.</p>
</footer>

{% endblock %}