{% extends 'base.html' %}
{% load static %}

{% block title %}VS Fashions{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}

<section class="hero">

    <div class="content">

        <p class="tag">
            — NEW COLLECTION 2026
        </p>

        <h1>
            DEFINE YOUR
            <br>
            <span>STYLE</span>
        </h1>

        <p class="desc">
            Premium fashion crafted for confident personalities.
        </p>

        <div class="buttons">
            <button class="shop">
                Shop Collection →
            </button>

            <button class="explore">
                Explore Now
            </button>
        </div>

        <div class="features">

            <div>
                <h3>✦</h3>
                <p>Premium Quality</p>
                <small>Finest Materials</small>
            </div>

            <div>
                <h3>▣</h3>
                <p>Free Delivery</p>
                <small>On Orders Over ₹999</small>
            </div>

            <div>
                <h3>◉</h3>
                <p>24/7 Support</p>
                <small>We Are Here</small>
            </div>

        </div>

    </div>

    <div class="brand-card">
        <h1>VS</h1>
        <p>FASHIONS</p>
    </div>

</section>

<section class="promo-banner">

    <div class="promo-content">

        <span>NEW ARRIVALS</span>

        <h2>Premium Fashion Collection</h2>

        <p>
            Discover luxury fashion designed for confidence,
            elegance and modern lifestyle.
        </p>

        <a href="{% url 'shop' %}" class="promo-btn">
            Shop Now
        </a>

    </div>

</section>

{% endblock %}