{% extends 'base.html' %}
{% load static %}


{% block title %}
VS Fashions | Shop
{% endblock %}



{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/shop.css' %}">

{% endblock %}




{% block content %}



<section class="shop-hero">


<h1>
Premium Collection
</h1>


<p>
Discover styles crafted for modern elegance
</p>



</section>






<section class="shop-area">






<form method="GET" class="search-form">



<input
type="text"
name="search"
placeholder="Search products..."
value="{{ request.GET.search }}"
>




<select name="category">


<option value="All">
All Categories
</option>


<option value="Men">
Men
</option>


<option value="Women">
Women
</option>


<option value="New Arrivals">
New Arrivals
</option>



</select>






<button type="submit">

Search

</button>



</form>









<div class="products">





{% for product in products %}




<div class="card">





<a href="{% url 'product' product.id %}">





<div class="image-box">





{% if product.image %}



<img src="{{ product.image.url }}"
alt="{{ product.name }}">



{% endif %}





</div>





</a>







<h2>

{{ product.name }}

</h2>






<p>

₹{{ product.price }}

</p>






<a href="{% url 'add_to_cart' product.id %}">


<button>

ADD TO CART

</button>


</a>







</div>






{% empty %}



<h2>
No products found
</h2>



{% endfor %}







</div>









<div class="pagination">





{% if products.has_previous %}


<a href="?page={{ products.previous_page_number }}&search={{request.GET.search}}&category={{request.GET.category}}">

← Previous

</a>



{% endif %}






<span>

Page {{ products.number }} of {{ products.paginator.num_pages }}

</span>







{% if products.has_next %}



<a href="?page={{ products.next_page_number }}&search={{request.GET.search}}&category={{request.GET.category}}">


Next →

</a>




{% endif %}





</div>






</section>





{% endblock %}